{
  angular: [
    'data.Id'
    'data.extendedProperties.genisysMeetingId'
    'data.subject'
    'data.sendTo'
    'data.body'
    'data.start'
    'data.end'
    'data.timeZone'
    'data.location'
    {
      key: 'data.attendees'
      type: 'array'
      startEmpty: true
      add: "Add Attendee"
    }
  ]
}
