{
  type: 'object'
  title: 'Create Calendar Item'
  'x-group-name': 'Set'
  required: ['data']
  properties:
    data:
      type: 'object'
      required: [
        'itemTimeZone',
        'itemSendTo',
        'itemSubject',
        'itemBody',
        'itemAttendees',
        'itemStart',
        'itemEnd',
        'itemLocation'
      ]
      properties:
        itemTimeZone:
          type: 'string'
          title: 'Timezone'
          description: 'Timezone'
        itemSendTo:
          type: 'string'
          title: 'Send to'
          description: 'Configure how meeting invitations or cancellations are handled when a meeting is updated'
          enum: [
            'SendOnlyToAll'
            'SendToNone'
            'SendOnlyToChanged'
            'SendToAllAndSaveCopy'
            'SendToChangedAndSaveCopy'
          ]
          default: 'SendOnlyToAll'
        itemSubject:
          type: 'string'
          title: 'Subject'
          description: 'Subject'
        itemBody:
          type: 'string'
          title: 'Body'
          description: 'Body'
        itemAttendees:
          title: 'Attendees'
          type: 'array'
          items:
            format: 'email'
            title: 'Email'
            type: 'string'
        itemReminder:
          type: 'string'
          title: 'Reminder'
          description: 'Reminder time and date range reminder for your meeting in UTC'
        itemStart:
          type: 'string'
          title: 'Start time'
          description: 'Start time and date of your meeting in UTC'
        itemEnd:
          type: 'string'
          title: 'End time'
          description: 'End time and date of your meeting in UTC'
        itemLocation:
          type: 'string'
          title: 'Location'
          description: 'Location'
}
