{
  type: 'object'
  title: 'Create Calendar Item'
  'x-group-name': 'createItem'
  required: ['data']
  properties:
    data:
      type: 'object'
      required: [
        'itemTimeZone',
        'itemSendTo',
        'itemSubject',
        'itemBody',
        'itemReminder',
        'itemStart',
        'itemEnd',
        'itemLocation'
      ]
      properties:
        itemTimeZone:
          type: 'string'
          title: 'Timezone'
          description: 'Timezone'
        itemSendTo:
          type: 'string'
          title: 'Send do'
          description: 'Send to'
        itemSubject:
          type: 'string'
          title: 'Subject'
          description: 'Subject'
        itemBody:
          type: 'string'
          title: 'Body'
          description: 'Body'
        itemReminder:
          type: 'string'
          title: 'Reminder'
          description: 'Reminder'
        itemStart:
          type: 'string'
          title: 'Start time'
          description: 'Start time'
        itemEnd:
          type: 'string'
          title: 'End time'
          description: 'End time'
        itemLocation:
          type: 'string'
          title: 'Location'
          description: 'Location'
}
