{
  type: 'object'
  title: 'Create Calendar Item'
  'x-group-name': 'Set'
  required: ['data']
  properties:
    data:
      type: 'object'
      required: [
        'timeZone',
        'sendTo',
        'subject',
        'body',
        'start',
        'end',
        'location'
      ]
      properties:
        extendedProperties:
          type: 'object'
          properties
            genisysMeetingId:
              type: 'string'
              title: 'Meeting Id'
              description: 'Genisys Meeting Id'
        timeZone:
          type: 'string'
          title: 'Timezone'
          description: 'Timezone'
          default: 'Pacific Standard Time'
        sendTo:
          type: 'string'
          title: 'Send to'
          description: 'Configure how meeting invitations or cancellations are handled when a meeting is updated'
          enum: [
            'SendOnlyToAll'
            'SendToNone'
            'SendOnlyToChanged'
            'SendToAllAndSaveCopy'
            'SendToChangedAndSaveCopy'
          ]
          default: 'SendOnlyToAll'
        subject:
          type: 'string'
          title: 'Subject'
          description: 'Subject'
        body:
          type: 'string'
          title: 'Body'
          description: 'Body'
        attendees:
          title: 'Attendees'
          type: 'array'
          items:
            title: 'Email'
            type: 'string'
        reminder:
          type: 'string'
          title: 'Reminder'
          description: 'Reminder time and date for your meeting in UTC'
          default: '2016-09-01T00:00:00Z'
        start:
          type: 'string'
          title: 'Start time'
          description: 'Start time and date of your meeting in UTC'
          default: '2016-09-01T00:00:00Z'
        end:
          type: 'string'
          title: 'End time'
          description: 'End time and date of your meeting in UTC'
          default: '2016-09-10T00:00:00Z'
        location:
          type: 'string'
          title: 'Location'
          description: 'Location'
}
