{
  angular: [
    'data.Id'
    'data.changeKey'
    'data.subject'
    'data.start'
    'data.end'
    'data.location'
    {
      key: 'data.attendees'
      type: 'array'
      startEmpty: true
      add: "Add Attendee"
    }
  ]
}
