{
  type: 'object'
  title: 'Update Calendar Item'
  'x-group-name': 'Set'
  required: ['data']
  properties:
    data:
      type: 'object'
      required: ['Id', 'changeKey']
      properties:
        Id:
          type: 'string'
          title: 'Item Id'
          description: 'Id of your Item obtained from getItems'
        changeKey:
          type: 'string'
          title: 'Change Key'
          description: 'Change Key of your Item obtained from getItems'
        subject:
          type: 'string'
          title: 'Subject'
          description: 'Subject'
        start:
          type: 'string'
          title: 'Start time'
          description: 'Start time and date for your meeting in UTC'
        end:
          type: 'string'
          title: 'End time'
          description: 'Start time and date for your meeting in UTC'
        attendees:
          title: 'Attendees'
          type: 'array'
          items:
            type: 'string'
            title: 'Email'
            format: 'email'
        location:
          type: 'string'
          title: 'Location'
          description: 'Location'
}
